bin/
build*
examples/
temp-src/
test_data*
temp*
obj*
*.o
.cproject
.project
.settings
*.tee
*.log
lib/googletest/build/

!tests
.vscode
.DS_*

*.pyc

include/version.h

raptor-test-data/
test-data-real/

test-data/*
!test-data/ecoli-small
test-data/ecoli-small/*
!test-data/ecoli-small/ecoli-0-100000.fasta
!test-data/ecoli-small/ecoli-0-100000.lowercase.fasta
!test-data/ecoli-small/reads.6x.fwd.fasta
!test-data/ecoli-small/reads.6x.rev.fasta
!test-data/ecoli-small/single_long_read.fasta
!test-data/ecoli-small/ecoli-0-100000.fasta.gz
!test-data/ecoli-small/single_long_read.fa
!test-data/ecoli-small/single_long_read.fa.gz
!test-data/ecoli-small/single_long_read.fasta.gz
!test-data/ecoli-small/single_read_exact_match.fasta.gz
!test-data/ecoli-small/two_identical_long_reads.fa
!test-data/ecoli-small/double-ecoli-0-100000.fasta
!test-data/test-no-duplicates
test-data/test-no-duplicates/*
!test-data/test-no-duplicates/target.fasta
!test-data/test-no-duplicates/query.fasta
!test-data/demos
test-data/demos/demo-1-circular-synth/*
!test-data/demos/demo-1-circular-synth/synth-circular.fasta.gz
!test-data/demos/demo-1-circular-synth/graph.gfa2
!test-data/demos/demo-1-circular-synth/pathology-1-graph.gfa2
!test-data/demos/demo-1-circular-synth/read-1-exact-match-circular.fasta.gz
!test-data/demos/demo-1-circular-synth/read-2-exact-match-linear.fasta.gz
!test-data/demos/demo-1-circular-synth/README.md
!test-data/demos/demo-1-circular-synth/run-construct.sh
!test-data/graph-aln
# test-data/demos/demo-2-transcriptome-synth
# !test-data/demos/demo-2-transcriptome-synth/*
!test-data/raptordb-fetch
!test-data/consistent-query-target-results
!test-data/sequence-parser

tool*
callgrind.*

demos/out
demos/raptor-test-data

*.t.err

out/
subprojects/
!subprojects/*.wrap

